<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8"></meta>
	<title>HCL Assessment Test </title>

	
	<link rel="stylesheet" href="css/style.css"></link>
   <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"></link>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="top">
			<h1 id="title" class="hidden"><span id="logo" >HCL  <span>Pre Assessment Test</span></span></h1>
		</div>
		<div class="login-box animated fadeInUp">
			<div class="box-header">
				<h2>Log In</h2>
			</div>
			<label for="username">Username</label>
			<br/>
			<i class="fa fa-user" aria-hidden="true"></i>
			<input type="text" id="username"   ></input>
			
			<br/>
			<label for="password">Password</label>
			<br/>
			<i class="fa fa-key" aria-hidden="true"></i>
            <input type="password" id="password" ></input>
            
			<br/>
			<button type="submit">Sign In</button>
			<br/>
			<a href="#"><p class="small">Forgot your password?</p></a>
            <a href="#"><p class="small">Register</p></a>
            
     		</div>
		 
	</div>
</body>


</html>